<form #pokemonForm="ngForm" (ngSubmit)="action">
    <div class="mb-3 text-center">
        <img [src]="awardItem.pokemon.imageBlob" [alt]="awardItem.pokemon.name" class="pokemon-image">
    </div>
    <div class="row mb-1">
        <h6 class="red">Dados do Prêmio</h6>
    </div>
    <div class="row">
        <div class="col-4 mb-3">
            <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput" disabled="true" name="gameId"
                    [(ngModel)]="awardItem.pokemon.gameId" placeholder="Game ID">
                <label for="floatingInput">Game ID</label>
            </div>
        </div>


        <div class="col-4 mb-3">
            <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput" name="occupation" [disabled]="disableEdit"
                    [(ngModel)]="awardItem.occupation" placeholder="Cargo do Prêmio">
                <label for="floatingInput">Cargo do Prêmio</label>
            </div>
        </div>

        <div class="col-4 mb-3">
            <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput" [(ngModel)]="awardItem.name"
                    [disabled]="disableEdit" name="name-award" placeholder="Nome do Prêmio">
                <label for="floatingInput">Nome do Prêmio</label>
            </div>
        </div>


    </div>

    <div class="row">
        <div class="col-4 mb-3">
            <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput" [(ngModel)]="awardItem.pokemon.stats.shiny"
                    [disabled]="disableEdit" name="shiny" placeholder="Shiny">
                <label for="floatingInput">Shiny</label>
            </div>
        </div>

        <div class="col-4 mb-3">
            <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput" [disabled]="disableEdit"
                    [(ngModel)]="awardItem.pokemon.stats.individualValueType" name="type-iv" placeholder="Tipo IV">
                <label for="floatingInput">Tipo IV</label>
            </div>
        </div>

        <div class="col-4 mb-3">
            <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput" [(ngModel)]="awardItem.pokemon.stats.nature"
                    required name="nature" placeholder="Natureza" [disabled]="disableEdit">
                <label for="floatingInput">Natureza</label>
            </div>

        </div>

    </div>
    <div class="row">
        <div class="col-4 mb-3">
            <div class="form-floating">
                <input type="number" class="form-control" id="floatingInput" name="ev-hp" [disabled]="disableEdit"
                    [(ngModel)]="awardItem.pokemon.stats.experienceValues.hp" placeholder="Ponts EV">
                <label for="floatingInput">Pontos de HP</label>
            </div>
        </div>

        <div class="col-4 mb-3">
            <div class="form-floating">
                <input type="number" class="form-control" id="floatingInput" name="ev-attack" [disabled]="disableEdit"
                    [(ngModel)]="awardItem.pokemon.stats.experienceValues.attack" placeholder="Pontos de Ataque">
                <label for="floatingInput">Pontos de Ataque</label>
            </div>
        </div>

        <div class="col-4 mb-3">
            <div class="form-floating">
                <input type="number" class="form-control" id="floatingInput" name="ev-defense" [disabled]="disableEdit"
                    [(ngModel)]="awardItem.pokemon.stats.experienceValues.defense" placeholder="Pontos de Defesa">
                <label for="floatingInput">Pontos de Defesa</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4 mb-3">
            <div class="form-floating">
                <input type="number" class="form-control" id="floatingInput" name="ev-defense-special"
                    [disabled]="disableEdit" [(ngModel)]="awardItem.pokemon.stats.experienceValues.specialDefense"
                    placeholder="Points de Defesa Especial">
                <label for="floatingInput">Points de Defesa Especial</label>
            </div>
        </div>

        <div class="col-4 mb-3">
            <div class="form-floating">
                <input type="number" class="form-control" id="floatingInput" name="ev-attack-special"
                    [disabled]="disableEdit" [(ngModel)]="awardItem.pokemon.stats.experienceValues.specialAttack"
                    placeholder="Pontos de Ataque Especial">
                <label for="floatingInput">Pontos de Ataque Especial</label>
            </div>
        </div>

        <div class="col-4 mb-3">
            <div class="form-floating">
                <input type="number" class="form-control" id="floatingInput" name="ev-speed" [disabled]="disableEdit"
                    [(ngModel)]="awardItem.pokemon.stats.experienceValues.speed" placeholder="Pontos de Velocidade">
                <label for="floatingInput">Pontos de Velocidade</label>
            </div>
        </div>
    </div>
    <ng-template [ngIf]="awardItem.player != null">
        <div class="row mb-1">
            <h6 class="red">Dados do Jogador Premiado</h6>
        </div>
        <div class="row">
            <div class="col-4 mb-3">
                <div class="form-floating">
                    <input type="text" class="form-control" id="floatingInput" name="username-player"
                        [disabled]="disableEdit" [(ngModel)]="awardItem.player.username"
                        placeholder="Username do Jogador Premiado">
                    <label for="floatingInput">Username do Jogador Premiado</label>
                </div>
            </div>

            <div class="col-4 mb-3">
                <div class="form-floating">
                    <input type="text" class="form-control" id="floatingInput" name="playerId" [disabled]="disableEdit"
                        [(ngModel)]="awardItem.player.playerId" placeholder="PlayerID do Jogador Premiado">
                    <label for="floatingInput">PlayerID do Jogador Premiado</label>
                </div>
            </div>

            <div class="col-4 mb-3">
                <div class="form-floating">
                    <input type="text" class="form-control" id="floatingInput" name="statusaward-item-delivery"
                        [disabled]="disableEdit" [(ngModel)]="awardItem.status"
                        placeholder="Status de Entrega do Prêmio">
                    <label for="floatingInput">Status de Entrega do Prêmio</label>
                </div>
            </div>
        </div>
    </ng-template>

</form>