<div class="container container-page">
    <form>
        <div class="row">
            <div class="col-4">
            </div>
            <div class="col-4">
                <div class="card form-authentication text-start">
                    <div  *ngIf="!resetPasswordAuthorized" class="card-body">
                        <h3>Verificação de Token</h3>
                        <div class="form-floating mb-3">
                            <input type="token" class="form-control" id="floatingInput" placeholder="Token"
                                [(ngModel)]="token" name="token">
                            <fa-icon [icon]="faIconResult" [class]="classIcon"></fa-icon>
                            <label for="floatingInput">Token</label>
                        </div>
                        <div class="d-grid gap-2">
                            <button class="btn btn-primary btn-main mb-2" (click)="checkToken()">VALIDAR</button>
                            <app-loading [loading]="loading"></app-loading>
                        </div>
                    </div>
                    <div *ngIf="resetPasswordAuthorized" class="card-body animate__animated animate__zoomIn">
                        <h3>Cadastre sua nova senha</h3>
                        <div class="form-floating mb-2">
                            <input type="password" class="form-control" id="floatingPassword" placeholder="Senha"
                                [(ngModel)]="newPassword" name="newPassword">
                            <label for="floatingPassword">Senha</label>
                        </div>
                        <div class="form-floating mb-2">
                            <input type="password" class="form-control" id="floatingPassword" placeholder="Confirmar Senha"
                                [(ngModel)]="newPasswordConfirmation" name="newPasswordConfirmed">
                            <label for="floatingPassword">Confirmar Senha</label>
                        </div>
                        <div class="d-grid gap-2">
                            <button class="btn btn-primary btn-main mb-2" (click)="resetPassword()">SALVAR</button>
                            <app-loading [loading]="loading"></app-loading>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
            </div>
        </div>
    </form>
</div>