<div class="container-page">
    <div class="container">
        <div class="row mb-5">
            <div class="col-5">
                <div class="card">
                    <img src="assets/images/2000-01-04-15-16-42.599-1024x768.png" class="card-img-top">
                    <!-- <img src="assets/images/2000-01-04-15-16-42.599-1024x768.png" alt="Mobirise Website Builder">
                    <p class="mbr-description mbr-fonts-style pt-2 align-center display-4"></p> -->
                </div>
            </div>
            <div class="col-7">
                <div class="card container backgroud-transparent">
                    <h3>
                        <strong>Download PokeFallen v6.0</strong>
                    </h3>
                    <p><strong>OPÇÃO 1: <a
                                href="https://drive.google.com/file/d/18-1D02xmL-Q_8DM_l5w9L2JEDF39q2wf/view?usp=sharing"
                                class="text-primary" target="_blank">DRIVE</a></strong><br><strong>OPÇÃO 2: <a
                                href="https://mega.nz/file/jUUiyRra#VSy9R5LLoMQNjZgu3Ht_ako_VAMzo9t-EOCchJqj9cQ"
                                class="text-primary" target="_blank">MEGA</a></strong><br><br><strong>ATENÇÃO: Não
                            apaguem a
                            versão atual antes de salvar o seu save ok? Deixei em <a href="page3.html"
                                class="text-primary">Saves e Progressos</a> como salva-lo.</strong><br>- Ficamos felizes
                        pelo seu interesse em jogar, nossas redes estarão ao fim desta página, siga-nos e conheça nossa
                        comunidade.&nbsp;<br>Em nosso Discord, postagens exclusivas quase diariamente.</p>

                    <h4>Requisitos mínimos PC:</h4>
                    <div>
                        <div><strong><br></strong></div>
                        <ul>
                            <li><strong>Sistema Operacional 64 Bits.</strong></li>
                            <li><strong>Placa de Video Dedicada/Suporte OpenGL.</strong></li>
                            <li><strong>700mb de espaço livre.&nbsp;<br></strong></li><br>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row text-center mb-5">
            <h3><strong>Como Jogar no Android</strong></h3>
        </div>
        <div class="row justify-content-center ms-5">
            <div class="col-sm-4">
                <div class="numberCircle">1</div>
            </div>
            <div class="col-sm-1">
                <fa-icon [icon]="faArrowRight" size="2xl" class="red"></fa-icon>
            </div>
        </div>
    </div>
</div>