<div class="container-page">
  <div class="container-page-download">
    <div class="container">
      <div class="row mb-5">
        <div class="col-5">
          <div class="card">
            <img src="assets/images/2000-01-04-15-16-42.599-1024x768.png" class="card-img-top">
            <!-- <img src="assets/images/2000-01-04-15-16-42.599-1024x768.png" alt="Mobirise Website Builder">
                    <p class="mbr-description mbr-fonts-style pt-2 align-center display-4"></p> -->
          </div>
        </div>
        <div class="col-7 info_download">
          <div class="card container backgroud-transparent">

            <div class="text-center">
              <h1>
                <strong>Download PokeFallen v6.0</strong>
              </h1>
              <br>

              <div>
                <a href="https://drive.google.com/file/d/18-1D02xmL-Q_8DM_l5w9L2JEDF39q2wf/view?usp=sharing">
                  <button type="button" class="btn btn-primary me-2">
                    <fa-icon [icon]="faDownload"></fa-icon>
                    DOWNLOAD PELO DRIVE
                  </button>
                </a>

                <a href="https://mega.nz/file/jUUiyRra#VSy9R5LLoMQNjZgu3Ht_ako_VAMzo9t-EOCchJqj9cQ">
                  <button type="button" class="btn btn-primary ms-">
                    <fa-icon [icon]="faDownload"></fa-icon>
                    DOWNLOAD PELO MEGA
                  </button>
                </a>
                <br> <br>
              </div>
            </div>
            <br>

            <div>
              <h5><strong>ATENÇÃO: Não apaguem a versão atual antes de salvar o seu save ok? Deixei em
                  <a routerLink="/save-progress"
                    class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Saves
                    e Progressos</a> como salva-lo.
                </strong></h5>
              <h6> Ficamos felizes
                pelo seu interesse em jogar, nossas redes estarão ao fim desta página, siga-nos e conheça nossa
                comunidade.&nbsp;<br>Em nosso Discord, postagens exclusivas quase diariamente.
              </h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>


  <div class="container-requisitos">
    <div class="container-download-req">
      <h1><strong>Requisitos mínimos PC:</strong></h1>
      <ul>
        <li>
          <h4>Sistema Operacional 64 Bits.</h4>
        </li>
        <li>
          <h4>Placa de Video Dedicada/Suporte OpenGL.</h4>
        </li>
        <li>
          <h4>700mb de espaço livre.&nbsp;<br></h4>
        </li><br>
      </ul>
    </div>
  </div>
  <hr width="100%" size="5" allign="center" />

  <div class="row text-center mb-5">
    <h1><strong>Como Jogar no Android</strong></h1>
  </div>

  <div class="row justify-content-center mb-3 container-number">

    <div class="col-2 text-start">
      <div class="numberCircle">1</div><br>
      <h4 class="text-center"><strong>Baixe e instale os seguintes APKs</strong></h4>
      <h5><a href="https://mega.nz/file/SmoimCrR#OA1vPQfZC_qy-o8Wt4PEP95NjjKbeEWChInlpY2EaVA"
          class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Emulador
          Joiplay</a></h5>
      <h5><a href="https://mega.nz/file/S6ogjZDJ#b3qfUraSe7r1jDUlKY6VMvzaowka7Ws2ydkKlcLbueA"
          class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">RPGM Plugin</a>
      </h5>

    </div>

    <div class="col-sm-1">
      <fa-icon [icon]="faArrowRight" size="2xl" class="red"></fa-icon>
    </div>

    <div class="col-2 text-start">
      <div class="numberCircle">2</div><br>
      <h4><strong>No Emulador Joiplay</strong></h4>
      <h5 class="text-center">Conceda as permissões necessárias. Vá no botão superior com os três pontinhos na opção
        Import Archives e selecione o arquivo RAR do projeto baixado, com isto ele será extraído.</h5>
    </div>

    <div class="col-sm-1">
      <fa-icon [icon]="faArrowRight" size="2xl" class="red"></fa-icon>
    </div>

    <div class="col-2 text-start">
      <div class="numberCircle">3</div><br>
      <h4><strong>Play</strong></h4>
      <h5 class="text-center">Após extrair, nomeie o jogo, selecione o ícone que fica na pasta do jogo se preferir.
        Em Choose Executable File, selecione Fallen.exe. Com isto você pode executar, tenha um bom jogo!</h5>
    </div>
  </div>
  <br><br>

  <div class="tutorial-download">
    <h1 class="text-center"><strong> Quer saber como baixar e instalar o PokeFallen no Android? </strong></h1>
    <h2 class="text-center"> Aproveite nosso tutorial:</h2>

    <br>

    <div class="text-center">
      <iframe width="60%" height="500" src="https://www.youtube.com/embed/Q2aEsz3mRaY?si=ZdS29uXVwWTXHb1j&amp;start=197"
        title="PASSANDO SEU SAVE NO ANDROID PARA A V6.0 POKEFALLEN" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
    </div>



  </div>

</div>