.form-login {
    border: none;
    background-color: transparent;
}

input {
    border: 1px solid #666;
}


.toast-alert {
    background-color: transparent;
    border: transparent;
    box-shadow: none;
}
