<form #itemForm="ngForm">
    <div class="mb-3 text-center">
        <img [src]="awardItem.item.imageBlob" [alt]="awardItem.item.name" class="pokemon-image">
    </div>
    <div class="row mb-1">
        <h6 class="red">Dados do Prêmio</h6>
    </div>
    <div class="row">
        <div class="col-4 mb-3">
            <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput" disabled="true"
                    [(ngModel)]="awardItem.item.gameId" name="gameId" placeholder="Game ID">
                <label for="floatingInput">Game ID</label>
            </div>
        </div>
        <div class="col-4 mb-3">
            <div class="form-floating">
                <select class="form-control form-select" name="occupation" [(ngModel)]="awardItem.occupation" required>
                    <option *ngFor="let occupation of occupationList" [value]="occupation">{{occupation}}</option>
                </select>
                <label for="floatingSelect">Cargo do Prêmio</label>
            </div>
        </div>

        <div class="col-4 mb-3">
            <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput" [(ngModel)]="awardItem.name"
                    [disabled]="disableEdit" name="name-award" placeholder="Nome do Prêmio">
                <label for="floatingInput">Nome do Prêmio</label>
            </div>
        </div>
    </div>

    <ng-template [ngIf]="awardItem.player != null">
        <div class="row mb-1">
            <h6 class="red">Dados do Jogador Premiado</h6>
        </div>
        <div class="row">
            <div class="col-4 mb-3">
                <div class="form-floating">
                    <input type="text" class="form-control" id="floatingInput" name="username-player"
                        [disabled]="disableEdit" [(ngModel)]="awardItem.player.username"
                        placeholder="Username do Jogador Premiado">
                    <label for="floatingInput">Username do Jogador Premiado</label>
                </div>
            </div>

            <div class="col-4 mb-3">
                <div class="form-floating">
                    <input type="text" class="form-control" id="floatingInput" name="playerId"
                        [disabled]="disableEdit" [(ngModel)]="awardItem.player.playerId"
                        placeholder="PlayerID do Jogador Premiado">
                    <label for="floatingInput">PlayerID do Jogador Premiado</label>
                </div>
            </div>

            <div class="col-4 mb-3">
                <div class="form-floating">
                    <input type="text" class="form-control" id="floatingInput" name="statusaward-item-delivery"
                        [disabled]="disableEdit" [(ngModel)]="awardItem.status"
                        placeholder="Status de Entrega do Prêmio">
                    <label for="floatingInput">Status de Entrega do Prêmio</label>
                </div>
            </div>
        </div>
    </ng-template>
</form>