<form #itemForm="ngForm">
    <app-item-image extraClassesCss="mb-2" [imageBlob]="awardItem.item.imageBlob"
        [nameImage]="awardItem.item.name"></app-item-image>
    <div class="row mb-1">
        <h6 class="red">Dados do Prêmio</h6>
    </div>
    <div class="row">
        <div class="col-4 mb-3">
            <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput" disabled="true"
                    [(ngModel)]="awardItem.item.gameId" name="gameId" placeholder="Game ID">
                <label for="floatingInput">Game ID</label>
            </div>
        </div>
        <div class="col-4 mb-3">
            <div class="form-floating">
                <select class="form-control form-select" name="occupation" [(ngModel)]="awardItem.occupation" required>
                    <option *ngFor="let occupation of occupationList" [value]="occupation">{{occupation}}</option>
                </select>
                <label for="floatingSelect">Cargo do Prêmio</label>
            </div>
        </div>

        <div class="col-4 mb-3">
            <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput" [(ngModel)]="awardItem.name"
                    [disabled]="disableEdit" name="name-award" placeholder="Nome do Prêmio">
                <label for="floatingInput">Nome do Prêmio</label>
            </div>
        </div>
    </div>

</form>