<div class="card border-secondary">
    <div class="card-header text-center">
        <h2 class="card-title">Sorteio Semanal</h2>
        <h5>Data: {{formatDateTime(awardWeek.dateTime)}}</h5>
        <h5 class="card-title">Status: Agendado</h5>
    </div>
    <div class="card-body">
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs nav-fill">
            <li [ngbNavItem]="1">
                <button ngbNavLink>Básico</button>
                <ng-template ngbNavContent>
                    <br>
                    <div class="container row text-center">
                        <div class="col-4 pokemon-presentation" *ngFor="let item of awardWeek.items">
                            <div class="card border-secondary h-100">
                                <div class="card-header">
                                    {{item.name}} | QTD: {{item.quantity}}
                                    <!-- <br>
                                    Qtd: {{item.quantity}}
                                    <br>
                                    Shiny: {{item.pokemon.stas?.shiny == true ? "Sim" : "Não"}} -->
                                </div>
                                <div class="card-body">
                                    <img [src]="item.pokemon.imageBlob" [alt]="item.pokemon.name">
                                </div>
                                <div class="card-footer text-center">
                                    <button class="btn btn-sm btn-primary me-2">
                                        <fa-icon [icon]="faPencil" (click)="open(content)"></fa-icon>
                                    </button>
                                    <button class="btn btn-sm btn-primary">
                                        <fa-icon [icon]="faMinus" (click)="removeItem(item)"></fa-icon>
                                    </button>
                                </div>
                            </div>

                            <ng-template #content let-modal class="modal-pokemon-award-item">
                                <div class="modal-header secondary">
                                    <h4 class="modal-title text-center" id="modal-basic-title">{{item.name}}</h4>
                                </div>
                                <div class="modal-body">
                                    <app-form-award-item [item]="item"></app-form-award-item>
                                    <div class="text-center">
                                        <button type="button" class="btn btn-primary"
                                            (click)="modal.close('Save click')">SALVAR</button>
                                    </div>
                                </div>
                            </ng-template>
                        </div>
                    </div>
                </ng-template>
            </li>
            <li [ngbNavItem]="2">
                <button ngbNavLink>Premium</button>
                <ng-template ngbNavContent>

                </ng-template>
            </li>

        </ul>

        <div [ngbNavOutlet]="nav" class="mt-2"></div>

        <div class="text-center mt-5">
            <!-- <button class="btn btn-sm btn-primary me-2">
                <fa-icon [icon]="faArrowLeft"></fa-icon>
                VOLTAR
            </button> -->
            <button class="btn btn-sm btn-primary me-2" (click)="revertAction()">
                <fa-icon [icon]="faRotateLeft"></fa-icon>
                REVERTER
            </button>
            <button class="btn btn-sm btn-primary me-2" (click)="newItem(content_new_item)">
                <fa-icon [icon]="faPlus"></fa-icon>
                NOVO
            </button>
            <button class="btn btn-sm btn-primary me-2">
                <fa-icon [icon]="faFloppyDisk"></fa-icon>
                SALVAR
            </button>
        </div>
    </div>

    <ng-template #content_new_item let-modal>
        <div class="modal-header">
            <h4 class="modal-title">Novo Item</h4>
        </div>
        <div class="modal-body">
            <div class="choose-type-item mb-3">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        Tipo Pokemon
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                    <label class="form-check-label" for="flexRadioDefault2">
                        Tipo Item
                    </label>
                </div>
            </div>

            <div class="choose-by-autocomplete">
                <label for="typeahead-basic" class="form-label">Escolha o Pokemon:</label>
                <input id="typeahead-basic" type="text" class="form-control" [(ngModel)]="typeItemChoose"
                    [ngbTypeahead]="search" (change)="updateModel()" />
                <br>
                <br>
                <div class="text-center">
                    <app-form-award-item *ngIf="!(pokemonSelected == undefined)" [item]="newAwardItem"></app-form-award-item>
                </div>
            </div>

            <br>

            <div class="text-center mt-3">
                <button type="button" class="btn btn-primary" (click)="modal.close('Close click')">SALVAR</button>
            </div>
        </div>
    </ng-template>

</div>