.player-basic-information {
    height: 500px;
    width: 80%;
    background-color: #FFF;
    border-radius: 2%;
    border: 2px solid #e6e6e6;
}

.player-basic-information a {
    color: black;
    text-decoration: none;
    border-bottom: 1px solid #949494;
}

.player-content {
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}


.container-page {
    margin-top: 100px !important;
}
