<div class="container container-page">
    <form>
        <div class="row">
            <div class="col-4">
            </div>
            <div class="col-4">
                <div class="card form-authentication text-start">
                    <div class="card-body">
                        <h2>Esqueceu a senha?</h2>
                        <p>Informe seu e-mail e enviaremos instruções para você redefinir sua senha</p>
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="floatingInput" placeholder="Email"
                                [(ngModel)]="email" name="email">
                            <label for="floatingInput">Email</label>
                        </div>
                        <div class="d-grid gap-2">
                            <button class="btn btn-primary btn-main mb-2" (click)="requestForgetPassword()"
                                [disabled]="requestResetEnabled()">ENVIAR</button>
                            <app-loading [loading]="loading"></app-loading>
                            <div class="alert alert-success text-center" role="alert"
                                *ngIf="requestForgetPasswordWasSuccess">
                                <span>Token foi enviado para o email, cheque por favor.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
            </div>
        </div>
    </form>
</div>