.container-sinopse{
  background-image: url("../../../assets/images/sinopse.jpg");
  width: 100%;
  height: 100vh;
  background-size: cover;
  position: relative;
  scroll-behavior: smooth;
  opacity : 0.4;

  overflow: hidden;
  z-index: -100;
}

/*------------- */

.text-title {
  font-weight: bold;
  font-size: 4.6em;
  text-align: center;
}

.section-doubts {
  background: url("../../../assets/images/background.jpg");
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;

  overflow: hidden;
  z-index: -100;
}

.accordion-view {
  margin-left: 25%;
  margin-right: 25%;

}
