<app-wellcome-view></app-wellcome-view>
<app-sinopse-view></app-sinopse-view>

<section class="section-system">
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="title col-12 col-md-9">
        <div class="container-img">
          <img class="gear-img" src="../../../assets/images/system.png" alt="pokemon gear">
          <h3 class="text-title">Sistemas</h3>
          <img class="gear-img" src="../../../assets/images/system.png" alt="pokemon gear">
        </div>
        <br><br>

        <p class="text-paragraph">
          Uma das grandes abordagens do projeto Fallen é a transformação para um mundo repleto de missões e técnicas que
          agregam a uma jornada que exige raciocínio para as melhores escolhas, caso contrário:
        </p>
        <br><br>

        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">

            <div class="carousel-item active">
              <p class="text-carousel">
                Loots: Cada monstrinho pode dropar um item ao fim da batalha, itens desde itens básico até itens
                raros.
              </p>
              <img class="img-carousel" src="../../../assets/images/batalha.png" class="d-block w-100" alt="...">
            </div>

            <div class="carousel-item">
              <p class="text-carousel">
                Crafts: Combine itens coletados e construa Pokebolas, Itens medicinais e muito mais.
              </p>
              <img class="img-carousel" src="../../../assets/images/batalha.png" class="d-block w-100" alt="...">
            </div>

            <div class="carousel-item">
              <p class="text-carousel">
                Seus monstrinhos de bolso querem ficar ao seu lado, eles podem ficar fora da Pokebola.
              </p>
              <img class="img-carousel" src="../../../assets/images/batalha.png" class="d-block w-100" alt="...">
            </div>

            <div class="carousel-item">
              <p class="text-carousel">
                Sistema de Shiny Hunter aprimorado. Aqui a caçada tem uma chance aumentada, mas cuidado, capturar um
                Shiny não é nada fácil. Porém, eles são caracterizados por virem com Valores Individuais (IVs) maiores
                que
                de Pokes comuns.
              </p>
              <img class="img-carousel" src="../../../assets/images/batalha.png" class="d-block w-100" alt="...">
            </div>

            <div class="carousel-item">
              <p class="text-carousel">
                Sistema de Profissões (Se especialize em uma área, você pode ser um Engenheiro e produzir Pokebolas
                diferenciadas, Professor e entender como produzir itens medicinais poderosos, além de outras que já
                chegaram e estão chegando no projeto).
              </p>
              <img class="img-carousel" src="../../../assets/images/batalha.png" class="d-block w-100" alt="...">
            </div>

            <div class="carousel-item">
              <p class="text-carousel">
                Performance. Você pode melhorar seu companheiro de equipe conforme ele ganha batalhas. Seus pontos de
                dano e nocautes causados aumentam e isso pode melhorar a sua força! (Stats).
              </p>
              <br>
              <img class="img-carousel" src="../../../assets/images/batalha.png" class="d-block w-100" alt="...">
            </div>

            <div class="carousel-item">
              <p class="text-carousel">
                Sistema de Outifits (Customize seu Personagem)
              </p>

              <img class="img-carousel" src="../../../assets/images/batalha.png" class="d-block w-100" alt="...">
            </div>

            <div class="carousel-item">
              <p class="text-carousel">
                Histórias com mudanças entre o Personagem feminino e masculino.
              </p>

              <img class="img-carousel" src="../../../assets/images/batalha.png" class="d-block w-100" alt="...">
            </div>

            <div class="carousel-item">
              <p class="text-carousel">
                Atualizações constantes.
              </p>
              <br>
              <img class="img-carousel" src="../../../assets/images/batalha.png" class="d-block w-100" alt="...">
            </div>

          </div>

          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>



<div class="section-doubts">
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="title col-12 col-md-9">
      <h3 class="text-title">Dúvidas frequentes</h3>
      <h4 class="mbr-section-subtitle align-center mbr-fonts-style mb-4 display-7">
        <div>✅ ATÉ ONDE VAI A HISTÓRIA?
        </div>
        <div>O jogo possui 8 Ginásios e mais de 15 Quests Disponíveis que vão lhe oferecer vastas horas de
          Gameplay, além da Liga disponível.
        </div>
        <div>✅ O PROJETO É FEITO PARA PC?
        </div>
        <div>Sim, o jogo é dedicado para PC.
        </div>
        <div>✅ O PROJETO É UMA HACKROM?
        </div>
        <div>Não! Não é uma HackRom e sim um FanGame, algo criado a partir do zero!
        </div>
        <div>✅ É POSSÍVEL JOGAR NO ANDROID?
        </div>
        <div>Sim, é possível jogar no Android com a versão atualizada do Emulador Joiplay, que se encontra
          em seu site do Patreon, mas nós fixamos a versão recomendada por aqui.&nbsp;</div>
        <div>✅ COMO ESTÁ O DESEMPENHO NO ANDROID?
        </div>
        <div>O desempenho no Android melhorou e muito esse início de 2023 com muito esforço da equipe que
          desenvolve o Emulador, cerca de 80% dos aparelhos são compatíveis e com nosso suporte, estamos
          reportando ainda o que falta para compatibilizar 100% dos aparelhos.
        </div>
        <div><br></div>
      </h4>

    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-12 col-md-12">
      <div class="row">
        <div class="col-12 col-lg-6">
          <div class="img-item mb-3">
            <img src="assets/images/2000-01-21-20-15-44.399-512x384.png" alt="Mobirise Website Builder">
            <p class="mbr-fonts-style align-center mt-2 display-7">Cidade de Ventura</p>
          </div>
        </div>
        <div class="col-12 col-lg">
          <div class="img-item mb-3">
            <img src="assets/images/2000-03-31-05-01-59.400-512x384.png" alt="Mobirise Website Builder">
            <p class="mbr-fonts-style align-center mt-2 display-7">Sistema de Performance de um
              Tyranitar</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
