<app-wellcome-view></app-wellcome-view>
<app-sinopse-view></app-sinopse-view>
<app-system-view></app-system-view>



<section class="section-doubts">

  <div class="container-background">
  </div>

  <div class="container-center">
    <h3 class="text-title">Dúvidas frequentes</h3>
    <br><br>

    <div ngbAccordion class="accordion-view">
      <div ngbAccordionItem>
        <h2 ngbAccordionHeader>
          <button ngbAccordionButton>ATÉ ONDE VAI A HISTÓRIA?</button>
        </h2>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <ng-template>
              O jogo possui 8 Ginásios e mais de 15 Quests Disponíveis que vão lhe oferecer
              vastas horas de
              Gameplay, além da Liga disponível
            </ng-template>
          </div>
        </div>
      </div>
      <div ngbAccordionItem>
        <h2 ngbAccordionHeader>
          <button ngbAccordionButton>O PROJETO É FEITO PARA PC?</button>
        </h2>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <ng-template>
              Sim, o jogo é dedicado para PC
            </ng-template>
          </div>
        </div>
      </div>
      <div ngbAccordionItem>
        <h2 ngbAccordionHeader>
          <button ngbAccordionButton>O PROJETO É UMA HACKROM?</button>
        </h2>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <ng-template>
              Não! Não é uma HackRom e sim um FanGame, algo criado a partir do zero!
            </ng-template>
          </div>
        </div>
      </div>
      <div ngbAccordionItem>
        <h2 ngbAccordionHeader>
          <button ngbAccordionButton>É POSSÍVEL JOGAR NO ANDROID?</button>
        </h2>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <ng-template>
              Sim, é possível jogar no Android com a versão atualizada do Emulador Joiplay, que
              se encontra
              em seu site do Patreon, mas nós fixamos a versão recomendada por aqui
            </ng-template>
          </div>
        </div>
      </div>
      <div ngbAccordionItem>
        <h2 ngbAccordionHeader>
          <button ngbAccordionButton>COMO ESTÁ O DESEMPENHO NO ANDROID?</button>
        </h2>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <ng-template>
              O desempenho no Android melhorou e muito esse início de 2023 com muito esforço da
              equipe que
              desenvolve o Emulador, cerca de 80% dos aparelhos são compatíveis e com nosso suporte, estamos
              reportando ainda o que falta para compatibilizar 100% dos aparelhos
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
