<div class="fixed-top">
  <nav class="navbar navbar-expand-lg nav-bar-main">
    <div class="container">
      <div class="navbar-brand">
        <span class="navbar-logo logo-header">
          <a routerLink="/home">
            <img src="assets/images/icon-121x121.png" alt="Poke Fallen" class="me-2" style="height: 3.8rem;">
            <span style="font-size: 1.4em; text-align: center;">PokeFallen RPG</span>
          </a>
        </span>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse teste" id="navbarSupportedContent">

        <ng-container *ngIf="!loginService.isUserLoggedIn()">
          <ul class="navbar-nav ms-auto" data-app-modern-menu="true">
            <li class="nav-item nav-text"><a class="nav-link link text-black text-primary display-4"
                routerLink="/home">Introdução</a></li>
            <li class="nav-item nav-text"><a class="nav-link link text-black text-primary display-4"
                routerLink="/download">Download</a>
            </li>
            <li class="nav-item nav-text"><a class="nav-link link text-black text-primary display-4"
                routerLink="/fallen-shop">Fallen Shop</a>
            </li>
            <li class="nav-item nav-text"><a class="nav-link link text-black text-primary display-4"
                routerLink="/save-progress">Saves e Progresso</a>
            </li>
            <li class="nav-item nav-text"><a class="nav-link link text-black text-primary display-4"
              routerLink="/login">Login | Primeiro Acesso</a>
            </li>
          </ul>
        </ng-container>
        <ng-container *ngIf="loginService.isUserLoggedIn()">
          <ul class="navbar-nav ms-auto" data-app-modern-menu="true">
            <li class="nav-item" *ngIf="loginService.isUserLoggedIn()">
              <button class="nav-link link text-black text-primary display-4 icon-action">
                <fa-icon [icon]="faCircleUser" size="xl" class="icon-action"></fa-icon>
                {{usernameLogged}}
              </button>
            </li>
            <li class="nav-item" *ngIf="loginService.isUserLoggedIn()">
              <button class="nav-link link text-black text-primary display-4 icon-action" (click)="logout()">
                Logout
                <fa-icon [icon]="faRightFromBracket" size="xl" class="icon-action"></fa-icon>
              </button>
            </li>
          </ul>
        </ng-container>
      </div>
    </div>
  </nav>
</div>
