<!-- <nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
    <div class="container">
        <div class="navbar-brand">
            <span class="navbar-logo">
                <a href="https://mobiri.se">
                    <img src="assets/images/icon-121x121.png" alt="Mobirise Website Builder" style="height: 3.8rem;">
                </a>
            </span>
            <span class="navbar-caption-wrap"><a class="navbar-caption text-black display-7"
                    href="https://mobiri.se">PokeFallen RPG</a></span>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-bs-toggle="collapse"
            data-target="#navbarSupportedContent" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav-dropdown nav-right" data-app-modern-menu="true">
                <li class="nav-item"><a class="nav-link link text-black text-primary display-4"
                        href="index.html">Introdução</a></li>
                <li class="nav-item"><a class="nav-link link text-black text-primary display-4"
                        href="page2.html">Download</a></li>
                <li class="nav-item"><a class="nav-link link text-black text-primary display-4" href="page1.html">Fallen
                        Shop</a></li>
                <li class="nav-item"><a class="nav-link link text-black text-primary display-4" href="page3.html">Saves
                        e Progresso</a></li>
                <li class="nav-item"><a class="nav-link link text-black text-primary display-4"
                        href="page3.html">Login</a></li>
            </ul>
        </div>
    </div>
</nav> -->

<nav class="navbar navbar-expand-lg navbar-fixed-top" style="border-bottom: 2px solid #e6e6e6">
    <div class="container">
        <div class="navbar-brand">
            <span class="navbar-logo logo-header">
                <a href="#">
                    <img src="assets/images/icon-121x121.png" alt="Poke Fallen" class="me-2" style="height: 3.8rem;">
                    <span>PokeFallen RPG</span>
                </a>
            </span>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto" data-app-modern-menu="true">
                <li class="nav-item"><a class="nav-link link text-black text-primary display-4"
                        href="index.html">Introdução</a></li>
                <li class="nav-item"><a class="nav-link link text-black text-primary display-4"
                        href="page2.html">Download</a></li>
                <li class="nav-item"><a class="nav-link link text-black text-primary display-4" href="page1.html">Fallen
                        Shop</a></li>
                <li class="nav-item"><a class="nav-link link text-black text-primary display-4" href="page3.html">Saves
                        e Progresso</a></li>
                <li class="nav-item"><a class="nav-link link text-black text-primary display-4"
                        href="page3.html">Login</a></li>
            </ul>

        </div>
    </div>
</nav>