section {
  height: 100vh;
}

.container-sinopse{
  background-image: url("../../../assets/images/sinopse.jpg");
  width: 100%;
  height: 100vh;
  background-size: cover;
  position: relative;
  scroll-behavior: smooth;
  opacity : 0.4;

  overflow: hidden;
  z-index: -100;
}

.sinopse-text{
  opacity : 1;
  width: 100%;
  height: 250px;
  position: relative;
  bottom: 760px;
  transition: 500ms linear;
  }

.text-title{
  font-weight: bold;
  font-size: 4.6em;
  text-align: center;
}

  .text-paragraph{
  font-size: 2em;
  text-align: center;
}
