<section>
  <div class="container-sinopse">
  </div>

  <div class="sinopse-text">
    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="title col-12 col-md-9">

          <h3 class="text-title">SINOPSE</h3>
          <div>
            <p class="text-paragraph">
              O game se passa em uma realidade paralela a do anime Pokémon, onde o herói Ritchie se depara com
              suspeitas do ressurgimento da Equipe Rocket que foi dissolvida pelo personagem Ethan 6 anos antes da
              história principal. Pouco se sabe sobre tais pistas, mas Silver, após ver noticiários vai em busca
              de investigar os passos de Giovanni.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
