<div class="container-page">
  <div class="container">
    <div class="text-center mb-5">
      <div class="row mb-2">
        <h1 class="text-title" style="margin-top: 35px;">
          <strong>Fallen Shop</strong>
        </h1>
      </div>
      <div class="row mb-3">
        <p class="text-paragraph">Acesse pelo seu menu do projeto e encontre um pouco disso e muito mais!</p>
      </div>

      <div class="row">
        <div class="col-3">
          <img src="../../../assets/images/img-pass.png" class="card-img mb-2" alt="Fallen Pass">
          <h5>Fallen Pass</h5>
        </div>
        <div class="col-3">
          <img src="../../../assets/images/sem-asdadattulo-596x402.png" class="card-img mb-2" alt="Fallen Pass">
          <h5>Itens Épicos</h5>
        </div>
        <div class="col-3">
          <img src="../../../assets/images/sem-ttasdadulo-596x404.png" class="card-img mb-2" alt="Fallen Pass">
          <h5>Itens Básicos</h5>
        </div>
        <div class="col-3">
          <img src="../../../assets/images/sem-ttulo-596x397.png" class="card-img mb-2" alt="Fallen Pass">
          <h5>Itens Essenciais</h5>
        </div>
      </div>
    </div>

    <div class="container-pontos">
      <img src="../../../assets/images/new-shop-doacoes-642x758.png" alt="">
      <div class="container-text">
        <h1 class="text-title" style="margin-bottom: 20px;"><strong>Pontos</strong></h1>
      <p style="font-size: 1.5em;  ">Se você quer apoiar o projeto e fazer parte do nosso crescimento.<br>
          <strong>Como eu recebo meus pontos?</strong><br>
          Pelo seu progresso criado ao você iniciar uma jornada, mais sobre como localizar seu save neste <a
            class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
            href="https://api.whatsapp.com/send/?phone=5595991185706&text=Ol%C3%A1%2C+vim+pelo+site+e+gostaria+de+adquirir+pontos%2C+quais+os+m%C3%A9todos+de+doa%C3%A7%C3%A3o%3F&type=phone_number&app_absent=0">link.</a>
        </p>

        <a type="button" class="btn btn-primary" target="_blank"
          href="https://wa.me/5595991185706?text=Ol%C3%A1%2C+vim+pelo+site+e+gostaria+de+adquirir+pontos%2C+quais+os+m%C3%A9todos+de+doa%C3%A7%C3%A3o%3F">
          <h3>Adquirir pontos</h3>
        </a>
      </div>

    </div>
  </div>
</div>
