.shop-options {
    height: 50vw;
}

img {
  border-radius: 5px;
}

.container-pontos {
  width: 100%;
  display: flex;
  margin-bottom: 30px;
}

.container-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  padding: 5%;
}


