<div class="container mt-3">
    <form action="">
        <div class="row">
            <div class="col-4">
            </div>
            <div class="col-4">
                <div class="card form-login text-center">
                    <div class="card-body">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingInput" placeholder="Card Id">
                            <label for="floatingInput">Card Id</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" id="floatingPassword" placeholder="Senha">
                            <label for="floatingPassword">Senha</label>
                        </div>
                        <div class="d-grid gap-2">
                            <button class="btn btn-primary btn-login mb-3">ENTRAR</button>
                            <span>
                                Não tem Card Id? <a href="">Baixe o Game</a>
                            </span>
                            <span>
                                Primeiro acesso? <a routerLink="/first-login">Crie sua senha</a>
                            </span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-4">
            </div>
        </div>


    </form>
</div>