.form-login {
    border: none;
    background-color: transparent;
}

input {
    border: 1px solid #666;
}

.btn-login {
    font-weight: 500;
}


.container-page {
    margin-top: 100px !important;
}