<div class="container container-page">
    <form>
        <div class="row">
            <div class="col-4">
            </div>
            <div class="col-4">
                <div class="card form-login text-center">
                    <div class="card-body">
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="floatingInput" placeholder="Email"
                                [(ngModel)]="email" name="email">
                            <label for="floatingInput">Email</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" id="floatingPassword" placeholder="Senha"
                                [(ngModel)]="password" name="password">
                            <label for="floatingPassword">Senha</label>
                        </div>
                        <div class="d-grid gap-2">
                            <button class="btn btn-primary btn-login mb-3" (click)="checkLogin()">ENTRAR</button>
                            <span>
                                Não tem Card Id? <a routerLink="/download">Baixe o Game</a>
                            </span>
                            <span>
                                Primeiro acesso? <a routerLink="/first-login">Crie sua senha</a>
                            </span>
                            <div class="alert alert-danger text-center" role="alert" *ngIf="invalidLogin">
                                Email ou senha estão incorretos
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-4">
            </div>
        </div>


    </form>
</div>