<form class="form-pokemon-item">
    <div class="mb-3 text-center">
        <img [src]="item.pokemon.imageBlob" [alt]="item.pokemon.name"
            class="pokemon-image">
    </div>
    <div class="row">
        <div class="col-6 mb-3">
            <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput"
                    disabled="true" [value]="item.pokemon.name"
                    placeholder="pokemon">
                <label for="floatingInput">Pokemon</label>
            </div>
        </div>

        <div class="col-6 mb-3">
            <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput"
                    [value]="item.pokemon.gameID" placeholder="Game ID">
                <label for="floatingInput">Game ID</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6 mb-3">
            <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput"
                    [value]="item.pokemon.stats?.nature" placeholder="Natureza">
                <label for="floatingInput">Natureza</label>
            </div>
        </div>

        <div class="col-6 mb-3">
            <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput"
                    [value]="item.pokemon.stats?.form" placeholder="Forma">
                <label for="floatingInput">Forma</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6 mb-3">
            <div class="form-floating">
                <input type="number" class="form-control" id="floatingInput"
                    [value]="item.pokemon.stats?.experienceValues"
                    placeholder="Ponts EV">
                <label for="floatingInput">Ponts EV</label>
            </div>
        </div>

        <div class="col-6 mb-3">
            <div class="form-floating">
                <input type="number" class="form-control" id="floatingInput"
                    [value]="item.pokemon.stats?.individualValues"
                    placeholder="Pontos IV">
                <label for="floatingInput">Pontos IV</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6 mb-3">
            <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput"
                    [value]="item.pokemon.stats?.shiny" placeholder="Shiny">
                <label for="floatingInput">Shiny</label>
            </div>
        </div>
    </div>
</form>