<app-menu-lateral>
  <div style="overflow-y: scroll; height: 100vh; overflow-x: hidden;" class="container">
    <div class="row mb-3">
      <form>
        <input type="text" placeholder="Pokemon..." class="form-control">
  
      </form>
    </div>
    <div class="container row row-cols-1 row-cols-sm-5 g-4 text-center">
      <div class="col pokemon-presentation" *ngFor="let pokemon of pokemons">
        <a href="#">
          <img [src]="pokemon.imageBlob" [alt]="pokemon.name">
          <br>
          {{pokemon.name}}
        </a>
      </div>
    </div>
  </div>
</app-menu-lateral>