<section class="section-system">
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="title col-12 col-md-9">
        <div class="container-img">
          <img class="gear-img" src="../../../assets/images/system.png" alt="pokemon gear">
          <h3 class="text-title">Sistemas</h3>
          <img class="gear-img" src="../../../assets/images/system.png" alt="pokemon gear">
        </div>
        <br><br>

        <p class="text-paragraph">
          Uma das grandes abordagens do projeto Fallen é a transformação para um mundo repleto de missões e técnicas que
          agregam a uma jornada que exige raciocínio para as melhores escolhas, caso contrário:
        </p>
        <br><br>

        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">

            <div class="carousel-item active">
              <p class="text-carousel">
                Loots: Cada monstrinho pode dropar um item ao fim da batalha, itens desde itens básico até itens
                raros.
              </p>
              <img class="img-carousel" src="../../../assets/images/batalha.png" class="d-block w-100" alt="...">
            </div>

            <div class="carousel-item">
              <p class="text-carousel">
                Crafts: Combine itens coletados e construa Pokebolas, Itens medicinais e muito mais.
              </p>
              <img class="img-carousel" src="../../../assets/images/batalha.png" class="d-block w-100" alt="...">
            </div>

            <div class="carousel-item">
              <p class="text-carousel">
                Seus monstrinhos de bolso querem ficar ao seu lado, eles podem ficar fora da Pokebola.
              </p>
              <img class="img-carousel" src="../../../assets/images/batalha.png" class="d-block w-100" alt="...">
            </div>

            <div class="carousel-item">
              <p class="text-carousel">
                Sistema de Shiny Hunter aprimorado. Aqui a caçada tem uma chance aumentada, mas cuidado, capturar um
                Shiny não é nada fácil. Porém, eles são caracterizados por virem com Valores Individuais (IVs) maiores
                que
                de Pokes comuns.
              </p>
              <img class="img-carousel" src="../../../assets/images/batalha.png" class="d-block w-100" alt="...">
            </div>

            <div class="carousel-item">
              <p class="text-carousel">
                Sistema de Profissões (Se especialize em uma área, você pode ser um Engenheiro e produzir Pokebolas
                diferenciadas, Professor e entender como produzir itens medicinais poderosos, além de outras que já
                chegaram e estão chegando no projeto).
              </p>
              <img class="img-carousel" src="../../../assets/images/batalha.png" class="d-block w-100" alt="...">
            </div>

            <div class="carousel-item">
              <p class="text-carousel">
                Performance. Você pode melhorar seu companheiro de equipe conforme ele ganha batalhas. Seus pontos de
                dano e nocautes causados aumentam e isso pode melhorar a sua força! (Stats).
              </p>
              <br>
              <img class="img-carousel" src="../../../assets/images/batalha.png" class="d-block w-100" alt="...">
            </div>

            <div class="carousel-item">
              <p class="text-carousel">
                Sistema de Outifits (Customize seu Personagem)
              </p>

              <img class="img-carousel" src="../../../assets/images/batalha.png" class="d-block w-100" alt="...">
            </div>

            <div class="carousel-item">
              <p class="text-carousel">
                Histórias com mudanças entre o Personagem feminino e masculino.
              </p>

              <img class="img-carousel" src="../../../assets/images/batalha.png" class="d-block w-100" alt="...">
            </div>

            <div class="carousel-item">
              <p class="text-carousel">
                Atualizações constantes.
              </p>
              <br>
              <img class="img-carousel" src="../../../assets/images/batalha.png" class="d-block w-100" alt="...">
            </div>

          </div>

          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
