<div class="container container-page">
    <div class="row text-center">
        <div class="mb-3">
            <h1 class="mb-3">
                <strong>O que é meu progresso?</strong>
            </h1>
            <p>
                Seu progresso atualmente é um arquivo, nele é salvo tudo o que você faz nas gameplays. Ao abrir o menu e
                salvar pela primeira vez um arquivo chamado "Game" com a extensão "rxdata" é criado na pasta do seu jogo
                no
                Android em uma pasta interna se estiver no PC.
            </p>
        </div>

        <div class="mb-3">
            <h5 class="mb-3">
                <strong>Por que é importante eu saber disso?</strong>
            </h5>
            <p>
                Se você mudar de aparelho, ou o projeto ganhar um super update, você precisará salvar o seu arquivo para
                possivelmente transferi-lo para a nova versão que será executada.
            </p>
        </div>

        <div class="mb-3">
            <h5 class="mb-3">
                <strong>Como eu localizo meu Save Game.rxdata no PC?</strong>
            </h5>
            <p>
                No seu PC é muito simples e ele nem precisa ser movido em caso de super atualizações pois ele fica em
                uma pasta interna do seu PC. Na própria pasta do jogo há um atalho chamado Save Game, clique nele e você
                será direcionado para a pasta do jogo salva.
                Nela você terá um Game.rxdata e um Game.rxdata.backup, este backup é uma cópia de segurança.
            </p>
        </div>

        <div class="mb-5">
            <h5 class="mb-3">
                <strong>Como localizar o progresso chamado Game.rxdata no Android?</strong>
            </h5>
            <p>
                No Android, se você usou a opção de Import Archive, o Joiplay extraiu e inseriu a pasta do Jogo
                PokeFallen v5.9 nas suas pastas internas Joiplay/Games (ao lado de Downloasd e DCMI dos seus arquivos).
                Ao acessar pelo menu de arquivos do seu Android, você pode achar o Game.rxdata ao lado de Fallen.exe,
                ele será criado logo que você salvar seu primeiro progresso.

                Se você extraiu pelo RAR como muitos tutoriais ensinam, com certeza está na própria pasta que vc extraiu
                e não na pasta do Joiplay.
                Aqui deixarei um Link de um Shorts no Youtube de como localiza-lo em caso de dúvidas:
            </p>
            <a href="https://www.youtube.com/shorts/dDqX7W4vqVI" class="text-primary" target="_blank">Como Localizar meu
                Save no
                Android?</a>
        </div>

        <div class="mb-3">
            <h5 class="mb-5">
                <strong>RECOMENDAÇÕES DE USO:</strong>
            </h5>

            <div class="row justify-content-center mb-3">
                <div class="col-9">
                    <div class="row text-start">
                        <div class="col-2">
                            <div class="numberCircle">1</div>
                        </div>

                        <div class="col-10 pt-1">
                            <h5><strong>CÓPIAS DE SEGURANÇA</strong></h5>

                            <p>Faça cópias do arquivo Game.rxdata para garantir que você nunca perca seu progresso. Você
                                pode salva-lo em qualquer nuvem.</p>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row justify-content-center mb-3">
                <div class="col-9">
                    <div class="row text-start">
                        <div class="col-2">
                            <div class="numberCircle">2</div>
                        </div>

                        <div class="col-10 pt-1">
                            <h5><strong>SALVAMENTO SAUDÁVEL</strong></h5>

                            <p>Sempre realize salvamentos de preferência pelo Menu do Jogo para assim não ocorrer o
                                corrompimento de dados. Caso você feche o jogo de maneira inesperada, é possível que os
                                dados do seu progresso mais recente sejam corrompidos e a leitura passará a ser do seu
                                último salvamento mais recente, que é o Game.rxdata.backup que fica logo ao lado do seu
                                save principal.</p>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row justify-content-center mb-3">
                <div class="col-9">
                    <div class="row text-start">
                        <div class="col-2">
                            <div class="numberCircle">3</div>
                        </div>

                        <div class="col-10 pt-1">
                            <h5><strong>RECUPERAÇÃO DE PROGRESSO</strong></h5>

                            <p>Se o seu progresso for muito antigo, provavelmente ao transferir para o projeto
                                principal, possa ocorrer uma mensagem de necessário ser atualizado, caso isso ocorra
                                entre em contato com nosso suporte com o print do problema com a Administração no
                                Discord ou via <a href="https://wa.me/message/CSEOZXLMUFPXG1" class="text-primary"
                                    target="_blank">Whatsapp.</a></p>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>