<app-menu-lateral>
    <div class="row">
        <div class="col-3">
            <label for="date-init" class="form-label">Data Inicio: </label>
        </div>
        <div class="col-3">
            <label for="date-init" class="form-label">Data Fim: </label>
        </div>
        <div class="col-3">
            <label for="date-init" class="form-label">Status: </label>
        </div>
    </div>
    <form class="row row-cols-sm-auto mb-5">
        <div class="col-12">
            <div class="dp-hidden position-absolute">
                <div class="input-group">
                    <input name="datepicker" class="form-control" ngbDatepicker #datepicker="ngbDatepicker"
                        [autoClose]="'outside'" (dateSelect)="onDateSelection($event)" [displayMonths]="2"
                        [dayTemplate]="t" outsideDays="hidden" [startDate]="fromDate!" tabindex="-1" />
                    <ng-template #t let-date let-focused="focused">
                        <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)"
                            [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date"
                            (mouseleave)="hoveredDate = null">
                            {{ date.day }}
                        </span>
                    </ng-template>
                </div>
            </div>
            <div class="input-group">
                <input #dpFromDate class="form-control" placeholder="yyyy-mm-dd" name="dpFromDate"
                    [value]="formatter.format(fromDate)"
                    (input)="fromDate = validateInput(fromDate, dpFromDate.value)" />
                <button class="btn btn-outline-secondary" (click)="datepicker.toggle()" type="button">
                    <fa-icon [icon]="faCalendarDays"></fa-icon>
                </button>
            </div>
        </div>
        <div class="col-12">
            <div class="input-group">
                <input #dpToDate class="form-control" placeholder="yyyy-mm-dd" name="dpToDate"
                    [value]="formatter.format(toDate)" (input)="toDate = validateInput(toDate, dpToDate.value)" />
                <button class="btn btn-outline-secondary" (click)="datepicker.toggle()" type="button">
                    <fa-icon [icon]="faCalendarDays"></fa-icon>
                </button>
            </div>
        </div>
        <div class="col-12">
            <select class="form-select" [ngModel]="statusSelect" (ngModelChange)="onChange($event)"
                name="status-award-week">
                <option *ngFor="let statusOption of statusList" [value]="statusOption">{{statusOption}}</option>
            </select>
        </div>
        <div class="col-12">
            <button class="btn btn-primary" (click)="search()">
                <fa-icon [icon]="faSearch"></fa-icon>
                PESQUISAR
            </button>
        </div>
    </form>

    <div class="col-12">
        <app-loading [loading]="loading"></app-loading>
    </div>

    <div class="row">
        <ng-template [ngIf]="awardWeekList != []">
            <div class="col-3" *ngFor="let week of awardWeekList">
                <div class="card border-secondary text-center">
                    <div class="card-body">
                        <h5 class="text-tittle">Data: {{formatDateTime(week.dateTime)}}</h5>
                        <p class="card-text">
                            Quantidade itens Básico: 25
                            <br>
                            Quantidade itens Premium: 25
                            <br>
                            Status: {{week.status}}
                        </p>
                        <button class="btn btn-sm btn-primary">
                            <fa-icon [icon]="faEye"></fa-icon>
                            DETALHAR
                        </button>
                    </div>
                </div>
            </div>
        </ng-template>
    </div>

    <div *ngIf="" class="card border-secondary">
        <div class="card-header text-center">
            <h2 class="card-title">Sorteio Semanal 22/09/2023</h2>
            <h6 class="card-title">Status: Agendado</h6>
        </div>
        <div class="card-body">
            <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs nav-fill">
                <li [ngbNavItem]="1">
                    <button ngbNavLink>Básico</button>
                    <ng-template ngbNavContent>
                        <div class="container row row-cols-1 row-cols-sm-5 g-4 text-center">
                            <div class="col pokemon-presentation" *ngFor="let pokemon of pokemons">
                                <a href="#">
                                    <img [src]="pokemon.imageBlob" [alt]="pokemon.name">
                                    <br>
                                    {{pokemon.name}}
                                </a>
                            </div>
                        </div>
                    </ng-template>
                </li>
                <li [ngbNavItem]="2">
                    <button ngbNavLink>Premium</button>
                    <ng-template ngbNavContent>
                        <p>
                            Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan
                            four loko
                            farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk
                            aliquip jean shorts
                            ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus
                            mollit. Keytar
                            helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio
                            cillum wes anderson
                            8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art
                            party scenester
                            stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.
                        </p>
                    </ng-template>
                </li>

            </ul>

            <div [ngbNavOutlet]="nav" class="mt-2"></div>

            <div class="text-center mt-5">
                <button class="btn btn-sm btn-primary">
                    <fa-icon [icon]="faPencil"></fa-icon>
                    EDITAR
                </button>
            </div>
        </div>

    </div>
</app-menu-lateral>