<app-menu-lateral>
    <div class="animate__animated animate__zoomIn container player-content m-3">
        <div class="row">
            <table class="table table-hover ">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Ações</th>
                        <th scope="col">Player Id</th>
                        <th scope="col">Usuario</th>
                        <th scope="col">Pontos</th>
                        <th scope="col">Cargos</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let player of players; index as i">
                        <th>
                            <fa-icon [icon]="faPen" class="me-3 icon-action-datatable" title="Editar Usuário"></fa-icon>
                            <fa-icon [icon]="faFloppyDisk" class="me-3 icon-action-datatable"
                                title="Editar Game Save"></fa-icon>
                            <fa-icon [icon]="faHandHoldingDollar" class="me-3 icon-action-datatable"
                                title="Visualizar Doações"></fa-icon>
                            <fa-icon [icon]="faTrash" class="icon-action-datatable" title="Apagar Usuário"></fa-icon>
                        </th>
                        <td>{{ player.playerId }}</td>
                        <td>{{ player.username }}</td>
                        <td>{{ player.points }}</td>
                        <td>{{ player.prettyOccupations }}</td>
                    </tr>
                </tbody>
            </table>

            <div class="d-flex justify-content-between p-2 end-0">
                <ngb-pagination [collectionSize]="total" [(page)]="tableResponse.number"
                    [pageSize]="tableResponse.size">
                </ngb-pagination>
            </div>
        </div>
        <div class="row">

        </div>
    </div>

</app-menu-lateral>