.section-introduction{
  margin: 0;
  height: 100vh;
}

.container-wellcome {
  position: relative;
}

.container-img {
  width: 100%;
  max-width: 100%;
  height: 100vh;
  opacity: 0.3;

  background-image: url(../../../assets/images/sinopse.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 0%;
}

.container-img::before {
 content: '';
 position: absolute;
 bottom: 0;
 width: 100%;
 height: 100vh;
 background: linear-gradient(#ffffff, transparent);
 z-index: 50;
}

.center-text{
  position: absolute;
  top: 55%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.text-title{
  font-weight: bold;
  font-size: 4.6em;
  transition: 500ms linear;
}

.text-paragraph{
  font-size: 2em;
  transition: 500ms linear;
}

