<app-menu-lateral>
    <div class="row mb-3">
        <div class="col-3">
            <label for="player-id-search" class="form-label">Nome do Bloco: </label>
            <input id="player-id-search" type="text" class="form-control" name="player-id-search"
                placeholder="Pesquisar..." [(ngModel)]="blockNameSearchFilter" />
        </div>
        <div class="col-2">
            <button class="btn btn-primary" style="margin-top: 30px;" (click)="findBlocks()">
                <fa-icon [icon]="faSearch"></fa-icon>
                PESQUISAR
            </button>
        </div>
        <div class="col-2">
            <button class="btn btn-primary" style="margin-top: 30px; margin-left: -40px;"
                (click)="newItem(content_new_item)">
                <fa-icon [icon]="faPlus"></fa-icon>
                NOVO
            </button>
        </div>
    </div>
    <div class="col-12">
        <app-loading [loading]="loading"></app-loading>
    </div>

    <div class="row text-center" style="overflow-y: auto; max-height: 50vh;">
        <div class="col-3 pokemon-presentation mb-2" *ngFor="let block of blocks">
            <div class="card border-secondary">
                <div class="card-header">
                    {{block.name}}
                </div>
                <div class="text-center">
                    <ng-template [ngIf]="block.typeItemAward == 'both'">
                        <app-multiple-pokemon-item-image
                            [images]="convertPreAwardItemToImageComposition(block.preAwardItems)">
                        </app-multiple-pokemon-item-image>
                    </ng-template>

                    <ng-template [ngIf]="block.typeItemAward == 'pokemon'">
                        <app-multiple-pokemon-image
                            [images]="convertPreAwardItemToImageComposition(block.preAwardItems)">
                        </app-multiple-pokemon-image>
                    </ng-template>

                    <ng-template [ngIf]="block.typeItemAward == 'item'">
                        <app-multiple-item-image [images]="convertPreAwardItemToImageComposition(block.preAwardItems)">
                        </app-multiple-item-image>
                    </ng-template>

                    <ng-template [ngIf]="block.typeItemAward == 'choice'">
                        <app-choice-pokemon-image
                            [images]="convertPreAwardItemToImageCompositionForChoiceAwards(block.preAwardItems)">
                        </app-choice-pokemon-image>
                    </ng-template>
                </div>
                <div class="card-footer text-center">
                    <button class="btn btn-sm btn-primary">
                        <fa-icon [icon]="faTrash"></fa-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <ng-template #content_new_item let-modal>
        <div class="modal-header">
            <h4 class="modal-title">Novo Item</h4>
        </div>
        <div class="modal-body">
            <div class="choose-type-item mb-3">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="radioCheckPokemon"
                        value="pokemon" [(ngModel)]="typeItemChoose" checked>
                    <label class="form-check-label" for="radioCheckPokemon">
                        Tipo Pokemon
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="radiocheckItem"
                        value="item" [(ngModel)]="typeItemChoose">
                    <label class="form-check-label" for="radiocheckItem">
                        Tipo Item
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="radiocheckBoth"
                        value="both" [(ngModel)]="typeItemChoose">
                    <label class="form-check-label" for="radiocheckBoth">
                        Tipo Item + Pokemon
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="radiocheckChoice"
                        value="choice" [(ngModel)]="typeItemChoose">
                    <label class="form-check-label" for="radiocheckBoth">
                        Tipo Escolha
                    </label>
                </div>
            </div>

            <div *ngIf="typeItemChoose == 'pokemon'" class="choose-by-autocomplete form-floating">
                <input id="typeahead-basic" type="text" class="form-control" [(ngModel)]="itemChoose"
                    [ngbTypeahead]="searchPokemons" (change)="updateModel()" />
                <label for="typeahead-basic" class="form-label">Escolha o Pokemon:</label>
                <br>
                <div class="text-center">
                    <!-- <form *ngIf="!(pokemonSelected == undefined)"
                            class="form-pokemon-item  animate__animated animate__zoomIn">
                            <app-type-pokemon [awardItem]="newAwardItem" [action]="addNewAwardItem"
                                [disableEdit]="!awardWeekCanUpdatable()"></app-type-pokemon>
                        </form> -->
                </div>

                <div class="text-center">
                    <button type="button" class="btn btn-primary">
                        <fa-icon [icon]="faPlus"></fa-icon>
                    </button>
                </div>
            </div>

        </div>
    </ng-template>
</app-menu-lateral>