<section class="section-introduction">


  <div class="container-wellcome">
    <img src="../../../assets/images/2000-01-09-04-17-14.400-512x384-2 .png" alt="">
    <div class="text-center container">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-8">
          <div class="center-text">
            <h1 class="text-title">Fallen RPG</h1>
            <p class="text-paragraph">Bem-vindo ao Fallen RPG, quer se aventurar? Com certeza
              está em busca de uma jornada cheia de desafios. Aqui você encontra isso.<br>A aventura será
              desafiadora, mas conte com nossa comunidade para te ajudar com a criação de estratégias e dicas
              valiosas.</p>
          </div>
        </div>
      </div>
    </div>
  </div>



</section>
