.section-introduction{
  margin: 0;
  height: 100vh;
}

.container-wellcome {
  position: relative;
}
.container-img {
  width: 100%;
  max-width: 100%;
  height: 100vh;
  opacity: 0.3;

  background-image: url(../../../assets/images/2000-01-09-04-17-14.400-512x384-2.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 0%;
}

.center-text{
  position: absolute;
  top: 55%;
  left: 50%;

  transform: translate(-50%, -50%);
}
