<div class="card border-secondary">
    <div class="card-header text-center mb-2">
        <h2 class="card-title">Sorteio Semanal</h2>
        <h5>Data: {{formatDateTime(awardWeek.dateTime)}}</h5>
        <h5 class="card-title">Status: {{awardWeek.status}}</h5>

        <!-- <button class="btn btn-sm btn-primary me-2">
            <fa-icon [icon]="faArrowLeft"></fa-icon>
            VOLTAR
        </button> -->
        <ng-template [ngIf]="awardWeekCanUpdatable()">
            <button class="btn btn-sm btn-primary me-2" (click)="revertAction()">
                <fa-icon [icon]="faRotateLeft"></fa-icon>
                REVERTER
            </button>
            <button class="btn btn-sm btn-primary me-2" (click)="newItem(content_new_item)">
                <fa-icon [icon]="faPlus"></fa-icon>
                NOVO
            </button>
            <button class="btn btn-sm btn-primary me-2" (click)="save()">
                <fa-icon [icon]="faFloppyDisk"></fa-icon>
                SALVAR
            </button>
            <br>
            <br>
            <app-loading [loading]="loading"></app-loading>
        </ng-template>
    </div>
    <div class="card-body">
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs nav-fill">
            <li [ngbNavItem]="1">
                <button ngbNavLink>Básico</button>
                <ng-template ngbNavContent>
                    <br>
                    <div class="container row text-center" style="overflow-y: auto; max-height: 50vh;">
                        <div class="col-3 pokemon-presentation mb-2" *ngFor="let item of itemsBasic">
                            <div class="card border-secondary h-100">
                                <div class="card-header">
                                    {{item.name}} | QTD: {{item.quantity}}
                                </div>
                                <div class="text-center">
                                    <ng-template [ngIf]="item.typeItemAward == 'pokemon'">
                                        <app-pokemon-image [imageBlob]="item.pokemon.imageBlob"
                                            [nameImage]="item.pokemon.name"
                                            imageclass="pokemon-image-card"></app-pokemon-image>
                                    </ng-template>
                                    <ng-template [ngIf]="item.typeItemAward == 'item'">
                                        <app-item-image [imageBlob]="item.item.imageBlob" [nameImage]="item.item.name"
                                            imageclass="pokemon-image-card"></app-item-image>
                                    </ng-template>
                                    <ng-template [ngIf]="item.typeItemAward == 'both'">
                                        <app-pokemon-item-image [awardItem]="item"></app-pokemon-item-image>
                                    </ng-template>
                                </div>
                                <div *ngIf="awardWeekCanUpdatable()" class="card-footer text-center">
                                    <button class="btn btn-sm btn-primary me-2">
                                        <fa-icon [icon]="faPencil" (click)="open(content)"></fa-icon>
                                    </button>
                                    <button class="btn btn-sm btn-primary">
                                        <fa-icon [icon]="faMinus" (click)="removeItem(item)"></fa-icon>
                                    </button>
                                </div>
                                <div *ngIf="!awardWeekCanUpdatable()" class="card-footer text-center">
                                    <button class="btn btn-sm btn-primary me-2">
                                        <fa-icon [icon]="faCircleInfo" (click)="open(content)"></fa-icon>
                                    </button>
                                    <button class="btn btn-sm btn-primary me-2">
                                        <fa-icon [icon]="faUser" (click)="open(contentplayers)"></fa-icon>
                                    </button>
                                </div>
                            </div>

                            <ng-template #content let-modal class="modal-pokemon-award-item">
                                <div class="modal-header secondary">
                                    <h4 class="modal-title text-center" id="modal-basic-title">{{item.name}}</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="mb-3 col-2">
                                        <label for="floatingInput">Quantidade</label>
                                        <input type="number" class="form-control" id="floatingInput"
                                            [disabled]="!awardWeekCanUpdatable()" [(ngModel)]="item.quantity"
                                            placeholder="Quantidade">
                                    </div>
                                    <app-type-pokemon [awardItem]="item" *ngIf="item.typeItemAward == 'pokemon'"
                                        [disableEdit]="!awardWeekCanUpdatable()"></app-type-pokemon>
                                    <app-type-item [awardItem]="item" *ngIf="item.typeItemAward == 'item'"
                                        [disableEdit]="!awardWeekCanUpdatable()"></app-type-item>
                                    <app-type-both [awardItem]="item" *ngIf="item.typeItemAward == 'both'"
                                        [disableEdit]="!awardWeekCanUpdatable()"></app-type-both>
                                </div>
                            </ng-template>

                            <ng-template #contentplayers let-modal class="modal-pokemon-award-item">
                                <div class="modal-header secondary">
                                    <h4 class="modal-title text-center" id="modal-basic-title">{{item.name}}</h4>
                                </div>
                                <div class="modal-body">
                                    <app-type-player [nameAward]="item.name"
                                        [awardWeekId]="awardWeek.id"></app-type-player>
                                </div>
                            </ng-template>
                        </div>
                    </div>
                </ng-template>
            </li>
            <li [ngbNavItem]="2">
                <button ngbNavLink>Premium</button>
                <ng-template ngbNavContent>
                    <br>
                    <div class="container row text-center">
                        <div class="col-3 pokemon-presentation mb-2" *ngFor="let item of itemsPremium"
                            style="overflow-y: auto; max-height: 50vh;">
                            <div class="card border-secondary h-100">
                                <div class="card-header">
                                    {{item.name}} | QTD: {{item.quantity}}
                                </div>
                                <div class="text-center">
                                    <ng-template [ngIf]="item.typeItemAward == 'pokemon'">
                                        <app-pokemon-image [imageBlob]="item.pokemon.imageBlob"
                                            [nameImage]="item.pokemon.name"
                                            imageclass="pokemon-image-card"></app-pokemon-image>
                                    </ng-template>
                                    <ng-template [ngIf]="item.typeItemAward == 'item'">
                                        <app-item-image [imageBlob]="item.item.imageBlob" [nameImage]="item.item.name"
                                            imageclass="pokemon-image-card"></app-item-image>
                                    </ng-template>
                                    <ng-template [ngIf]="item.typeItemAward == 'both'">
                                        <app-pokemon-item-image [awardItem]="item"></app-pokemon-item-image>
                                    </ng-template>
                                </div>
                                <div *ngIf="awardWeekCanUpdatable()" class="card-footer text-center">
                                    <button class="btn btn-sm btn-primary me-2">
                                        <fa-icon [icon]="faPencil" (click)="open(content)"></fa-icon>
                                    </button>
                                    <button class="btn btn-sm btn-primary">
                                        <fa-icon [icon]="faMinus" (click)="removeItem(item)"></fa-icon>
                                    </button>
                                </div>
                                <div *ngIf="!awardWeekCanUpdatable()" class="card-footer text-center">
                                    <button class="btn btn-sm btn-primary me-2">
                                        <fa-icon [icon]="faCircleInfo" (click)="open(content)"></fa-icon>
                                    </button>
                                    <button class="btn btn-sm btn-primary me-2">
                                        <fa-icon [icon]="faUser" (click)="open(contentplayers)"></fa-icon>
                                    </button>
                                </div>
                            </div>

                            <ng-template #content let-modal class="modal-pokemon-award-item">
                                <div class="modal-header secondary">
                                    <h4 class="modal-title text-center" id="modal-basic-title">{{item.name}}</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="mb-3 col-2">
                                        <label for="floatingInput">Quantidade</label>
                                        <input type="number" class="form-control" id="floatingInput"
                                            [disabled]="!awardWeekCanUpdatable()" [(ngModel)]="item.quantity"
                                            placeholder="Quantidade">
                                    </div>
                                    <app-type-pokemon [awardItem]="item" *ngIf="item.typeItemAward == 'pokemon'"
                                        [disableEdit]="!awardWeekCanUpdatable()"></app-type-pokemon>
                                    <app-type-item [awardItem]="item" *ngIf="item.typeItemAward == 'item'"
                                        [disableEdit]="!awardWeekCanUpdatable()"></app-type-item>
                                    <app-type-both [awardItem]="item" *ngIf="item.typeItemAward == 'both'"
                                        [disableEdit]="!awardWeekCanUpdatable()"></app-type-both>
                                </div>
                            </ng-template>

                            <ng-template #contentplayers let-modal class="modal-pokemon-award-item">
                                <div class="modal-header secondary">
                                    <h4 class="modal-title text-center" id="modal-basic-title">{{item.name}}</h4>
                                </div>
                                <div class="modal-body">
                                    <app-type-player [nameAward]="item.name"
                                        [awardWeekId]="awardWeek.id"></app-type-player>
                                </div>
                            </ng-template>
                        </div>
                    </div>
                </ng-template>
            </li>

        </ul>

        <div [ngbNavOutlet]="nav" class="mt-2"></div>

    </div>

    <ng-template #content_new_item let-modal>
        <div class="modal-header">
            <h4 class="modal-title">Novo Item</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-3">
                    <div class="choose-type-item mb-3">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="radioCheckPokemon"
                                value="pokemon" [(ngModel)]="typeItemChoose" checked>
                            <label class="form-check-label" for="radioCheckPokemon">
                                Tipo Pokemon
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="radiocheckItem"
                                value="item" [(ngModel)]="typeItemChoose">
                            <label class="form-check-label" for="radiocheckItem">
                                Tipo Item
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="radiocheckBoth"
                                value="both" [(ngModel)]="typeItemChoose">
                            <label class="form-check-label" for="radiocheckBoth">
                                Ambos
                            </label>
                        </div>
                    </div>
                </div>

                <div class="col-2">
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" id="floatingInput" [(ngModel)]="newAwardItem.quantity"
                            placeholder="Quantidade">
                        <label for="floatingInput">Quantidade</label>
                    </div>
                </div>
            </div>

            <div *ngIf="typeItemChoose == 'pokemon'" class="choose-by-autocomplete form-floating">
                <input id="typeahead-basic" type="text" class="form-control" [(ngModel)]="itemChoose"
                    [ngbTypeahead]="searchPokemons" (change)="updateModel()" />
                <label for="typeahead-basic" class="form-label">Escolha o Pokemon:</label>
                <br>
                <div class="text-center">
                    <form *ngIf="!(pokemonSelected == undefined)"
                        class="form-pokemon-item  animate__animated animate__zoomIn">
                        <app-type-pokemon [awardItem]="newAwardItem" [action]="addNewAwardItem"
                            [disableEdit]="!awardWeekCanUpdatable()"></app-type-pokemon>
                    </form>
                </div>
            </div>

            <div *ngIf="typeItemChoose == 'item'" class="choose-by-autocomplete form-floating">
                <input id="typeahead-basic" type="text" class="form-control" [(ngModel)]="itemChoose"
                    [ngbTypeahead]="searchItems" (change)="updateModel()" />
                <label for="typeahead-basic" class="form-label">Escolha o Item:</label>
                <br>
                <div class="text-center">
                    <form *ngIf="!(itemSelected == undefined)"
                        class="form-pokemon-item  animate__animated animate__zoomIn">
                        <app-type-item [awardItem]="newAwardItem"></app-type-item>
                    </form>
                </div>
            </div>

            <ng-template [ngIf]="typeItemChoose == 'both'">
                <div class="choose-by-autocomplete form-floating">
                    <input id="typeahead-basic" type="text" class="form-control" [(ngModel)]="pokemonChoose"
                        [ngbTypeahead]="searchPokemons" (change)="updateModel()" />
                    <label for="typeahead-basic" class="form-label">Escolha o Pokemon:</label>
                </div>

                <br>

                <div class="choose-by-autocomplete form-floating">
                    <input id="typeahead-basic" type="text" class="form-control" [(ngModel)]="itemChoose"
                        [ngbTypeahead]="searchItems" (change)="updateModel()" />
                    <label for="typeahead-basic" class="form-label">Escolha o Item:</label>
                </div>

                <br>

                <div class="text-center">
                    <form name="item-autocomplete"
                        *ngIf="!(itemSelected == undefined) || !(pokemonSelected == undefined)"
                        class="form-pokemon-item  animate__animated animate__zoomIn">
                        <app-type-both [awardItem]="newAwardItem"></app-type-both>
                    </form>
                </div>

            </ng-template>

            <br>

            <div class="text-center mt-3">
                <button type="button" class="btn btn-primary" (click)="addNewAwardItem()">
                    <fa-icon [icon]="faPlus"></fa-icon>
                    ADICIONAR
                </button>
            </div>
        </div>
    </ng-template>

</div>