<div class="row">
    <div class="col-3">
        <div class="player-basic-information m-3 container p-3 shadow p-3 mb-5 bg-body rounded">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/player-details">
                        <fa-icon [icon]="faUser"></fa-icon>
                        Meus Dados
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/player-game-save">
                        <fa-icon [icon]="faFloppyDisk"></fa-icon>
                        Game Save
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <fa-icon [icon]="faHandHoldingDollar"></fa-icon>
                        Doações
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <fa-icon [icon]="faAward"></fa-icon>
                        Prêmios
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <fa-icon [icon]="faArrowRightArrowLeft"></fa-icon>
                        Trocas
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="col-9">
        <div class="animate__animated animate__zoomIn container player-content m-3 text-center">
            <h3>Game Save</h3>
            <h6>Arquivo de save do jogo (game.xrdata)</h6>
            <figure class="figureProfile">
                <img src="assets/images/fileimage.png">
            </figure>

            <button class="btn btn-primary me-4" (click)="download()">
                <fa-icon [icon]="faDownload"></fa-icon>
                DOWNLOAD
            </button>
            <button class="btn btn-primary" (click)="open(content)">
                <fa-icon [icon]="faUpload"></fa-icon>
                UPLOAD
            </button>

        </div>

        <ng-template #content let-modal>
            <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Anexar arquivo</h4>
                <button type="button" class="btn-close" aria-label="Close"
                    (click)="modal.dismiss('Cross click')"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3 text-center">
                        <input type="file" (change)="onChange($event)">

                        <div class="spinner-border" role="status" *ngIf="loading">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" (click)="upload()" (mouseup)="modal.close('Save click')">
                    <fa-icon [icon]="faPaperclip"></fa-icon>
                    Anexar
                </button>
            </div>
        </ng-template>

    </div>


</div>