<div class="footer">
    <div class="container text-center">

        <div class="p-3">
            <div class="d-flex justify-content-end social-row mb-3">
                <a href="https://wa.me/message/CSEOZXLMUFPXG1" target="_blank" class="social-icon whatsapp">
                    <fa-icon [icon]="faWhatsapp" size="xl"></fa-icon>
                </a>
                <a href="https://www.facebook.com/PokeFallenOficial" target="_blank" class="social-icon facebook">
                    <fa-icon [icon]="faFacebook" size="xl"></fa-icon>
                </a>
                <a href="https://discord.gg/jvXjCwbbED" target="_blank" class="social-icon discord">
                    <fa-icon [icon]="faDiscord" size="xl"></fa-icon>
                </a>
                <a href="https://www.instagram.com/projectfallenrpg/" target="_blank" class="social-icon instagram">
                    <fa-icon [icon]="faInstragram" size="xl"></fa-icon>
                </a>
            </div>
            <div class="row row-copirayt">
                <p class="align-center">Community Fallen RPG BRAZIL
                    fan
                    site - Contact: pokefallen28@gmail.com
                    <br>
                    <br>Pokémon Copyright © 1995 - 2017 Nintendo/Creatures Inc./GAME FREAK Inc. Pokémon And All
                    Respective
                    Names are Trademarks of Nintendo 1996-2016 Fallen RPG is not affiliated with Nintendo,
                    Creatures
                    Inc.
                    and GAME FREAK Inc.
                </p>
            </div>
        </div>
    </div>
</div>
